.header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  border-bottom: 1px solid #333;
  position: sticky;
  top: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
}


.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.logo {
 height: auto;
 width: 80px;
}

.brand {
  font-size: 1.25rem;
  font-weight: bold;
  color: #499BFC;
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.links {
  display: flex;
  gap: 1.25rem;
}

.links a {
  color: #499BFC;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 20px;
}

.links a:hover {
  color: #c70ea8;
}

.actions {
  display: flex;
  gap: 0.75rem;
}

.actions a button {
  background-color: #680e9b;
  padding: 0.5rem 1.1rem;
  font-size: 0.95rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

.actions a button:hover {
  background-color: #8c38c0;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
  }

  .links,
  .actions {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
/* 
input{
  width: 300px;
  height: 50px;
  background-color: #111315;
  color: white;
  border-color:#8c38c0;
} */
.nav img{
  width: 30px;
  height: auto;
  cursor: pointer;
}