.ProfilePage{
    display: flex;
    gap: 50px;
}

.sidebar{
    width: auto;
    background-color: #1e1e1e;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar div{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 230px;
    height: 40px;
}
.sidebar div a{
    font-size: 16px;
    letter-spacing:1px;
    color: #858282;
    text-decoration: none;
}
.sidebar div img{
    width: 24px;
    height: auto;
    margin-left: 40px;
}
.sidebar div:nth-child(7){
    margin-top: 400px;
}
.sidebar div:nth-child(8){
    margin-bottom: 80px;
}
.sidebar div:hover{
    a{
    font-size: 18px;
    color: #b266ff;
    font-weight: 500;
    }
    img{
        width: 26px;
        height: auto;
    }
}



.myprofile{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.myprofile h2{
    color: white;
    font-size: 25px;
}

.myprofile .profile_banner{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.profile_banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.profile_info {
    background-color:#1e1e1e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.profile_info div{
    width: auto;
    height: auto;
    margin-right: 330px;
}
.profile_info img {
    width: 180px;
    height: auto;
    border-radius: 50%;
}
.profile_info div h2 {
    font-size: 20px;
    color: white;
    margin: 0;
}

.profile_info div p {
    color: #ccc;
    margin: 0;
}

.profile_info button {
    display: flex;
    background-color: #3a8ef6;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 50px;
}
.card h2{
    color: whitesmoke;
}