
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #121212;
  color: #e0e0e0;
}

.main {
  flex: 1; /* Fills available space between header and footer */
  padding: 2rem;
}